*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top.navigation {
    background-color: bisque;
}

.top.navigation > a, 
.top.navigation ul {
    border: 5px solid black;
} 
 
.top.navigation {
    display: flex;
    justify-content: space-between;

} 
